
div {
    color: rgb(255, 255, 255);
    background-color: rgb(107, 34, 175);
    text-align: center;
    align-items: center;
    align-content: center;
    height: 150px;
    width: 150px;
    size: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-family: 'Calibri';
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    position: relative;

    animation-name: quadrado;
    animation-duration: 2s;
    animation-delay: -1s;
    }



    h1{
        
            color: rgb(255, 255, 255);
            background-color: rgb(35, 34, 36);
            text-align: center;
            align-content: center;
            height: 150pp;
            width: 150pp;
            size: 150pp;
            font-size: 25px;
            font-family: Arial;
        
    }

    body{
        background-color: rgb(35, 34, 36);
    }


    
    footer {
        color: rgb(255, 255, 255);
        text-align: bottom;
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: center;
        font-family: 'Calibri';
        margin-top: 10px;
        
        }



    @keyframes quadrado {
        0%   {background-color:rgb(255, 255, 255); left:0px; top:0px;}
        
        50%  {background-color:rgb(255, 255, 255); left:0px; top:200px;}
       
        100% {background-color:rgb(107, 34, 175); left:0px; top:0px;}
      }